<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Autor: <%= autor %></h1>
		<img src="<%= foto %>" style="max-width: 200px;"></img>
		<p><iframe width="420" height="280" src="https://www.youtube.com/embed/C_fHScmyWTA" frameborder="0" allowfullscreen></iframe></p>
		<footer>
			<p><a href="<%= url %>">Repositorio en GitHub</a></p>
		</footer>
	</body>
</html>