body { background: #999; }

#page   { background: #eee;}

nav       { float: left;}

section    { float: right; width: 80%;}

footer    { clear: both;}

nav a     { display: block; text-align: left;}

