<label for="preg">Pregunta:</label>
<br />
<input type="text" id="preg" name="quiz[question]" value="<%= quiz.question %>" required size="30" class="form-control" style="width: 180px;" />

<label for="resp" style="margin-top: 10px;">Respuesta:</label>
<br />
<input type="text" id="resp" name="quiz[answer]" value="<%= quiz.answer %>" required size="30" class="form-control" style="width: 180px;" />

<input type="submit" value="Guardar" class="btn btn-primary" style="margin-top: 15px;">
<a href="/quizzes"><button type="button" class="btn" style="margin-top: 15px;">Cancelar</button></a>